<header class="container-fluid text-center">
    <h1>Unidad Educativa San Cherry</h1>
</header>
<main>
 <div class="container-fluid text-center">
    <h2>Bienvenidos a la Unidad Educativa San Marcos</h2>
    <p>Comprometidos con la educación y la formación de ciudadanos con valores.</p>

    <section>
        <h3>Nuestra Misión</h3>
        <p>Brindar una educación integral basada en principios éticos y excelencia académica.</p>
    </section>

    <section>
        <h3>Nuestra Visión</h3>
        <p>Ser una institución educativa reconocida por su calidad y compromiso con la sociedad.</p>
    </section>

    <section>
        <h3>Contacto</h3>
        <p>Dirección: Calle Principal #123, Ciudad</p>
        <p>Teléfono: (123) 456-7890</p>
     
    </section>
 </div>
</main>